@model IEnumerable<projet_dotnet.Models.Pfe_Etudiant>

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <p>
        <button type="button" class="btn btn-warning"><a asp-action="Create">Ajouter Pfe_Etudiant</a></button>
    </p>
    <div class="container">


        <div class="table-responsive">

            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Pfe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Etudiant)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pfe.Titre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Etudiant.Nom)
                            </td>
                            <td>
                                <button type="button" class="btn btn-dark"><a asp-action="Edit" asp-route-id="@item.ID">Edit</a></button>|
                                <button type="button" class="btn btn-dark"><a asp-action="Details" asp-route-id="@item.ID">Details</a></button>|
                                <button type="button" class="btn btn-dark"><a asp-action="Delete" asp-route-id="@item.ID">Delete</a></button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>